<!-- <p>Productos añadidos: {{newShoppingCart.length}}</p> -->
<p>Total: ${{total}}</p>
<!-- <p hidden>Today: {{ today | date: 'short'}}</p>
<p hidden>Time Ago: {{ today | timeAgo }}</p>
<p hidden>Fecha: {{ date | date: 'dd / MM / yyyy'}}</p>
<p hidden>{{ 'LoremDSADSAD' | uppercase}}</p>
<p hidden>{{ 'LoremDSADSAD' | reverse}}</p> -->
<button (click)="createNewProduct()">create</button>
<div class="product-grid">
    <app-product class="shadow p-3 mb-5 bg-white rounded" [product]="product" *ngFor="let product of products" (addedProduct)="onAddShoppingCart($event)" (showProduct)="onShowDetail($event)"></app-product>
</div>
<div class="product-detail" [class.active]="showDetail">
    <div *ngIf="productChosen">
        <button (click)="toggleDetail()">
          <i class="bi bi-box-arrow-right"></i>
        </button>

        <div class="title-detail">
            <h2>Detalles del producto</h2>
        </div>
        <div id="carouselExampleControls" class="carousel slide mt-4" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img [src]="productChosen.images[0]" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img [src]="productChosen.images[1]" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img [src]="productChosen.images[2]" class="d-block w-100" alt="...">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="product-information">
            <h1>{{productChosen.title}}</h1>
            <p>{{productChosen.description}}</p>

            <del><h2 class="price-before">{{(productChosen.price + (productChosen.price*0.20)) | currency: 'COP'}}</h2></del>
            <h2 class="price">{{productChosen.price | currency: 'COP'}}</h2>
        </div>
    </div>
</div>
