<!-- <p>Productos añadidos: {{newShoppingCart.length}}</p> -->
<!-- <p>Total: ${{total}}</p> -->
<!-- <p hidden>Today: {{ today | date: 'short'}}</p>
<p hidden>Time Ago: {{ today | timeAgo }}</p>
<p hidden>Fecha: {{ date | date: 'dd / MM / yyyy'}}</p>
<p hidden>{{ 'LoremDSADSAD' | uppercase}}</p>
<p hidden>{{ 'LoremDSADSAD' | reverse}}</p> -->
<!-- <button (click)="createNewProduct()">create</button> -->
<!-- <button color="primary" class="btn" (click)="onShowDetail('1231243124')">Detalle</button> -->

<!-- <a href="./assets/files/texto.txt" download>Descargar archivo</a> -->
<!-- <button color="primary" (click)="download()">Descargar Pdf http</button> -->
<!--
<div>
    <input type="file" (change)="onUpload($event)">
    <img *ngIf="imgRta" [src]="imgRta" alt="">
</div> -->
<div class="product-grid">
    <app-product class="shadow p-3 mb-5 bg-white rounded" [product]="product" *ngFor="let product of products"
        (addedProduct)="onAddShoppingCart($event)" (showProduct)="onShowDetail($event)"></app-product>
</div>
<div class="load-products">
    <button mat-button class="load_more" (click)="onLoadMore()">Next</button>
</div>
<div class="product-detail shadow p-3 bg-white rounded" [class.active]="showDetail">
    <div *ngIf="productChosen">
        <button (click)="toggleDetail()">
            <i class="bi bi-box-arrow-right"></i>
        </button>

        <div class="title-detail">
            <h2>Detalles del producto</h2>
        </div>
        <div>
            <swiper-container class="mySwiper" navigation="true" pagination="true" keyboard="true" mousewheel="true"
                css-mode="true">
                <swiper-slide *ngFor="let img of productChosen.images">
                    <img [src]="img" class="" alt="...">
                </swiper-slide>
            </swiper-container>
        </div>

        <div class="product-information">
            <h1>{{productChosen.title}}</h1>
            <p>{{productChosen.description}}</p>

            <del>
                <h2 class="price-before">{{(productChosen.price + (productChosen.price*0.20)) | currency: 'COP'}}</h2>
            </del>
            <h2 class="price">{{productChosen.price | currency: 'COP'}}</h2>
            <!-- <button (click)="updateProduct()" class="btn btn-primary">Edit</button> -->
            <button (click)="deleteProduct()" class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>