<div class="page-product">
    <button (click)="goToBack()" class="btn btn-secondary m-3">Back</button>
    <div class="detail" *ngIf="product">
        <div class="gallery">
            <swiper style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff" [spaceBetween]="10" [navigation]="true" [thumbs]="{ swiper: thumbsSwiper }" class="mySwiper2">
                <ng-template swiperSlide *ngFor="let img of product?.images">
                    <img class="imgZoom" [src]="img" alt="img" width="300">
                    <img name="grande" class="imgOriginal" [src]="img" alt="img" width="648">
                </ng-template>
            </swiper>
            <swiper (swiper)="thumbsSwiper = $event" [spaceBetween]="10" [slidesPerView]="3" [freeMode]="true" [watchSlidesProgress]="true" class="mySwiper">
                <ng-template swiperSlide *ngFor="let img of product?.images">
                    <img class="imgZoom" [src]="img" alt="img" width="300">
                    <img name="grande" class="imgOriginal" [src]="img" alt="img" width="648">
                </ng-template>
            </swiper>
        </div>
        <div>
            <h1>{{ product?.title }}</h1>
            <h2>{{ product?.price | currency }}</h2>
            <p>{{ product?.description }}</p>
            <button class="print btn btn-secondary imp" (click)="generarPdf()"><mat-icon>print</mat-icon> Print</button>
            <button type="button" class="cart-button" (click)="onAddToCart()"><i class="bi bi-cart-plus-fill"></i> Add to cart</button>
        </div>
    </div>
</div>
