<div class="show-mobile">
    <div>
        <button (click)="toggleMenu()">
          <!-- <img src="./assets/" alt="menu"> -->
          <i class="fa-solid fa-bars"></i>
       </button>
        <button>
          <img src="./assets/images/olymp-logo.png" alt="menu">
       </button>
        <button>
          <!-- <img src="./assets/" alt="menu"> -->
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="counter">{{counter}}</span>
       </button>
    </div>
</div>

<div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
        <li>
            <a href="" routerLink="home">Todo</a>
        </li>
        <li *ngFor="let item of categories">
            <a [routerLink]="['/category',item.id]">{{item.name}}</a>
        </li>
    </ul>
</div>

<div class="hide-mobile">
    <div>
        <nav>
            <a href="" class="logo">
                <img src="./assets/images/olymp-logo.png" alt="menu">
            </a>
            <div class="menu-item">
                <ul>
                    <li>
                        <a routerLinkActive="active" href="" routerLink="home">Todo</a>
                    </li>
                    <li *ngFor="let item of categories">
                        <a routerLinkActive="active" [routerLink]="['/category',item.id]">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="info">
            <!-- <button routerLink="./login"> -->
            <div class="accounts">
                <button *ngIf="!token; else elseBlock" (click)="login()">Login</button>
                <ng-template #elseBlock>
                    <label class="profileEmail">{{ profile?.email }}</label>
                </ng-template>
            </div>
            <!-- </button> -->

            <div class="cart">
                <a href="">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <span class="counter">{{counter}}</span>
            </div>
        </div>
    </div>
</div>