<!-- <button class="btn btn-primary m-4" (click)="createUser()">Crear Usuario</button> -->
<div class="bg">
    <form [formGroup]="myform">
        <div class="login-form">
            <h1>
                Ingresar
            </h1>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button (click)="login()" class="loginbtn">Login</button>
            <br>
            <p>¿No tienes una cuenta? <a routerLink="/register">Registrate</a></p>
        </div>
    </form>
</div>