<div class="w-11/12 max-w-full mx-auto flex items-center section-home">
  <div class="max-w-full">
    <swiper-container
      style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
      class="mySwiper"
      thumbs-swiper=".mySwiper2"
      loop="true"
      space-between="10"
      navigation="true">
      <swiper-slide
        ><img class="m-auto w-3/4" src="../assets/images/banner-1.png" alt
      /></swiper-slide>
      <swiper-slide
        ><img class="m-auto w-3/4" src="../assets/images/banner-1.png" alt
      /></swiper-slide>
      <swiper-slide
        ><img class="m-auto w-3/4" src="../assets/images/banner-1.png" alt
      /></swiper-slide>
    </swiper-container>
  </div>
</div>
<section class="flex flex-col w-full mx-auto pt-9">
  <h2 class="fancy text-lg">Destacados</h2>
  <div class="slide-display space-x-20">
    <div class="products-slide space-x-20 py-10">
      <app-product
        class="inline-block min-w-[250px]"
        *ngFor="let product of featuredProducts"
        [product]="product">
      </app-product>
    </div>
    <div class="products-slide space-x-20 py-10">
      <app-product
        class="inline-block min-w-[250px]"
        *ngFor="let product of featuredProducts"
        [product]="product">
      </app-product>
    </div>
  </div>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</section>

<section
  class="back-pattern flex justify-center items-center bg-secondary px-44">
  <div class="w-3/4 text-white">
    <h3 class="!text-xl font-semibold">Oferta de tiempo limitado</h3>
    <h1 class="!text-4xl font-bold">Edición especial</h1>

    <p class="text-base">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
      luctus nec ullamcorper mattis, pulvinar dapibus leo.
    </p>

    <p class="!text-xl">
      Compre esta camiseta con un 20% de descuento, use el código OFF20
    </p>
  </div>
  <img
    class="relative"
    width="700"
    src="./assets/images/t-shirt001.png"
    alt="" />
</section>
