<div class="mx-8 flex flex-col">
  <h1>Administrar productos</h1>
  <a
    routerLink="/admin/add-product"
    class="rounded-md py-2 px-6 bg-green-600 hover:bg-green-500 text-white text-base ml-auto my-4"
    >Agregar</a
  >
  <!-- <mat-form-field appearance="standard">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" autocomplete="off" placeholder="" #input />
    </mat-form-field> -->

  <div class="mat-elevation-z8">
    <table
      [dataSource]="dataSource"
      (matSortChange)="announceSortChange($event)"
      mat-table
      matSort
    >
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th
          *matHeaderCellDef
          valign="middle"
          mat-header-cell
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          Id
        </th>
        <td *matCellDef="let element" valign="middle" mat-cell>
          {{ element.id }}
        </td>
      </ng-container>

      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th *matHeaderCellDef valign="middle" mat-header-cell>Image</th>
        <td *matCellDef="let element" valign="middle" mat-cell>
          <img [src]="element.images[0]?.imagePath" class="w-20" alt />
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th
          *matHeaderCellDef
          valign="middle"
          mat-header-cell
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Name
        </th>
        <td *matCellDef="let element" valign="middle" mat-cell>
          {{ element.name }}
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th
          *matHeaderCellDef
          valign="middle"
          mat-header-cell
          mat-sort-header
          sortActionDescription="Sort by price"
        >
          Price
        </th>
        <td *matCellDef="let element" valign="middle" mat-cell>
          $ {{ element.price }}
        </td>
      </ng-container>
      <!-- Description Column -->
      <ng-container style="max-width: 500px" matColumnDef="description">
        <th
          *matHeaderCellDef
          valign="middle"
          mat-header-cell
          mat-sort-header
          sortActionDescription="Sort by description"
        >
          Description
        </th>
        <td
          *matCellDef="let element"
          valign="middle"
          class="overflow-auto"
          mat-cell
        >
          {{ element.description }}
        </td>
      </ng-container>
      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th
          *matHeaderCellDef
          valign="middle"
          mat-header-cell
          mat-sort-header
          sortActionDescription="Sort by category"
        >
          Category
        </th>
        <td *matCellDef="let element" valign="middle" mat-cell>
          {{ element.category.name }}
        </td>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th *matHeaderCellDef valign="middle" mat-header-cell mat-sort-header>
          Action
        </th>
        <td *matCellDef="let element" valign="middle" mat-cell>
          <a
            [routerLink]="['/admin/edit-product', element.id]"
            class="edit text-secondary mx-1 cursor-pointer"
          >
            <fa-icon [icon]="faPenToSquare" class="text-2xl"></fa-icon>
          </a>
          <button (click)="openDeleteModal(element)" class="text-red-500 mx-1">
            <fa-icon [icon]="faTrashCan" class="text-2xl"></fa-icon>
          </button>
        </td>
      </ng-container>

      <tbody>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </tbody>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of products elements"
    >
    </mat-paginator>
  </div>
</div>
