.card:hover .ref {
    animation: skew-y-shakeing 0.5s;
    animation-iteration-count: 1;
}


@keyframes skew-y-shakeing {
    0% {
        transform: skewY(-15deg);
    }

    5% {
        transform: skewY(15deg);
    }

    10% {
        transform: skewY(-15deg);
    }

    15% {
        transform: skewY(15deg);
    }

    20% {
        transform: skewY(0deg);
    }

    100% {
        transform: skewY(0deg);
    }
}