<footer
  class="w-full bg-primary flex justify-center items-center py-20 text-white"
>
  <div class="w-9/12">
    <div class="flex flex-row gap-8">
      <div class="flex flex-col flex-1 basis-0">
        <h3 class="!mb-3">Product</h3>
        <span class="my-2">Employee database</span>
        <span class="my-2">Payroll</span>
        <span class="my-2">Absences</span>
        <span class="my-2">Time tracking</span>
        <span class="my-2">Shift planner</span>
        <span class="my-2">Recruiting</span>
      </div>
      <div class="flex flex-col flex-1 basis-0">
        <h3 class="!mb-3">Information</h3>
        <span class="my-2">FAQ</span>
        <span class="my-2">Blog</span>
        <span class="my-2">Support</span>
      </div>
      <div class="flex flex-col flex-1 basis-0">
        <h3 class="!mb-3">Company</h3>
        <span class="my-2">About us</span>
        <span class="my-2">Careers</span>
        <span class="my-2">Contact us</span>
        <span class="my-2">Lift Media</span>
      </div>
      <div
        class="flex flex-col flex-1 basis-0 rounded-xl bg-primary-hover py-5 px-7"
      >
        <h3 class="v108_2589">Subscribe</h3>
        <input class="text-black" type="text" placeholder="Email address" />
        <p class="v108_2596">
          Hello, we are Lift Media. Our goal is to translate the positive
          effects from revolutionizing how companies engage with their clients &
          their team.
        </p>
      </div>
    </div>
    <hr class="border-t-2 border-solid border-gray-400 my-10 items-center" />
    <div class="flex justify-between">
      <div>
        <img width="70" src="./assets/images/isotipo.png" alt="Olymp logo" />
      </div>
      <div class="flex space-x-4 items-center">
        <span class="">Terms</span>
        <span class="">Privacy</span>
        <span class="">Cookies</span>
      </div>
      <div class="flex space-x-2 items-center">
        <a class="inline-block px-4 py-2 rounded-full border border-white border-solid text-lg">
          <fa-icon [icon]="faFacebookF"></fa-icon>
        </a>
        <a class="inline-block px-4 py-2 rounded-full border border-white border-solid text-lg">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a class="inline-block px-4 py-2 rounded-full border border-white border-solid text-lg">
          <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </a>
        <a class="inline-block px-4 py-2 rounded-full border border-white border-solid text-lg">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
