<app-img *ngIf="product.images.length > 0" [img]="product.images[0]"></app-img>
<h2>{{product.price | currency: 'COP'}}</h2>
<p>{{product.title}}</p>
<!-- <p appHighlight>{{product.description}}</p> -->
<button class="btn btn-secondary imp" (click)="generarPdf()"><mat-icon>print</mat-icon></button>
<div>
    <button class="btn btn-primary mt-2" (click)="onShowDetail()">Show details</button>
    <button type="button" class="cart-button btn btn-success mt-2" (click)="onAddToCart()">Add Cart</button>
</div>
