.cont {
    margin: auto 30px;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.imgRef {
    width: 80px;
}

.desc {
    overflow: auto;
}

.edit {
    cursor: pointer;
    mat-icon {
        color: var(--secondary);
    }
}

.delete {
    cursor: pointer;
    mat-icon {
        color: #EF4444;
    }
}