<div>
  <div
    class="block sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-10 py-5 px-7 lg:w-full m-auto w-full">
    <app-product
      [ngClass]="{ visible: showArticles }"
      class="w-full flex mx-auto article"
      *ngFor="let product of products"
      [product]="product"
      (addedProduct)="onAddShoppingCart($event)">
    </app-product>
  </div>
</div>
<div class="flex mx-auto my-7 w-72">
  <button
    (click)="onLoadMore()"
    class="bg-white m-auto text-xl text-secondary border hover:border-secondary rounded-lg p-3">
    Ver más
  </button>
</div>
