button {
    border: none;
    background: transparent;
}

.show-mobile {
    display: block;
    box-shadow: 0px 2px 5px rgb(black, .2);
    >div {
        background: #6eccb1;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            border: 0;
            background: transparent;
            img {
                width: 150px;
            }
            i {
                font-size: 30px;
            }
        }
    }
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #6eccb1;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(-100%);
    transition: all ease-out .5s;
    &.active {
        transform: translateX(0);
    }
}

.hide-mobile {
    display: none;
    box-shadow: 0px 2px 5px rgb(black, .2);
    >div {
        background: #6eccb1;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        margin-right: 1em;
    }
    nav {
        display: flex;
        align-items: center;
        .menu-item {
            margin-left: 70px;
        }
        ul {
            display: flex;
            list-style: none;
            li {
                margin-right: 10px;
            }
            a {
                color: inherit;
                font-size: 18px;
                margin: 0 .2em;
                text-decoration: none;
                padding: .2em .8em;
            }
            a.active {
                border: 1px solid #000;
                border-radius: 5px;
            }
        }
    }
    .info {
        display: flex;
        align-items: center;
        .account {
            margin-right: .5em;
        }
        .cart {
            position: relative;
            .counter {
                width: 20px;
                height: 20px;
                line-height: 20px;
                background: #dc3545;
                border-radius: 50%;
                display: block;
                color: white;
                text-align: center;
                position: absolute;
                top: -10px;
                right: -10px;
            }
            a {
                text-decoration: none;
                i {
                    font-size: 25px;
                }
            }
        }
    }
}


/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .show-mobile {
        display: none;
    }
    .hide-mobile {
        display: block;
    }
}


/* Large and up */

@media screen and (min-width: 64em) {
    .show-mobile {
        display: none;
    }
    .hide-mobile {
        display: block;
    }
}

a {
    text-decoration: none;
}