.layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header header" "nav content content";
    header {
        grid-area: header;
        box-shadow: 0px 2px 5px rgb(black, .2);
    }
    aside {
        grid-area: nav;
        border-right: 1px solid rgba(21, 99, 157, 0.16);
        a {
            margin: 0;
            padding: 0;
            padding: 1em;
            cursor: pointer;
            position: relative;
            display: block;
            text-decoration: none;
            color: #000;
        }
    }
    main {
        grid-area: content;
        background-color: #f3f8fb;
        padding: 1em;
    }
}

li {
    display: flex;
    align-items: center;
}